@import "../public/static/fonts/gotham/gotham.css";

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

html {
  border: 0px;
  margin: 0px;
}

body {
  border: 0px;
  margin: 0px;
  font-family: GothamPro;
}

$theme-colors: (
  "info": green,
  "danger": teal,
  "baground-primary": #fff,
);

// colors
$link-primary: #000000;

.navbar {
  height: 68px;
}

.nav-link {
  color: $link-primary !important;
}

.nav-link-pad {
  margin-left: 26px;
}

@import "~bootstrap/scss/bootstrap";

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 1px;
  font-family: FontAwesome;
  content: "\f078";
  border-top: 0em solid;
  border-right: 0em solid transparent;
  border-bottom: 0;
  border-left: 0em solid transparent;
}

.btn-flat {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: #41b885;
  color: #ffffff;
}

.btn-flat-large {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: #41b885;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-flat-large:hover {
  background-color: #41b885;
  color: #ffffff;
}

.mt-90 {
  margin-top: 90px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.W-500 {
  width: 500px;
}

.mt-15 {
  margin-top: 15px;
}

.bg-white {
  background-color: #ffffff;
}

a {
  color: #41b885;
}

a:hover {
  color: #41b885;
}

.btn-invite {
  width: 140px;
  border-radius: 5px;
  background-color: #41b885;
  color: #ffffff;
  font-family: GothamPro;
  font-weight: 400;
  height: 30px;
  line-height: 19px;
}

.btn-invite:hover {
  color: #ffffff;
}
